<fancy-box theme="theme3" icon="record_voice_over">
    <div title>
        From Director's Desk
    </div>
    <div simpleContent>
        <div class="line-height justify">
            <p>
                At Demo School Branch, we pride ourselves on our commitment to
                the
                education of the whole child. We offer our children the opportunity to
                think for themselves, wonder, explore, experiment, take decisions and build on their knowledge
                through their
                own
                experiences. We give equal importance to our children's social development. For us, each child, boy
                or girl,
                is
                an individual and our confidence in this belief fosters a sense of citizenship and personal
                responsibility
                in
                them.
            </p>
            <p>
                Our team of motivated staff, the availability of excellent learning resources and a very
                child-friendly
                environment, makes all this possible. Our teacher enrichment programmes have helped our teachers to
                design
                exciting learning opportunities for our students.
            </p>
            <p>
                We encourage a warm and open relationship with parents as we feel it is vital to the educational
                process.
                Together we can help our children grow and adapt in an ever changing world. We firmly believe
                that"Children
                are
                the prettiest flowers in God's Garden."And as parents and teachers we need to join hands to help
                them
                blossom.
            </p>
            <p>
                Looking forward to utmost co-operation from your side.
            </p>
            <p>
                Always in the service of children.
            </p>
            <br><br>
        </div>
    </div>
</fancy-box>