<div class="offerDiv">
    <h1 class="maintitle">
        What We Offer
    </h1>
    <br><br>
    <div class="center">
        <responsive>
            <div class="fill-space"></div>
            <div fxFlex="90%">
                <responsive colGap="32px">
                    <div fxFlex class="offer-item">
                        <row gap="10px">
                            <div class="offer-icon">
                                <mat-icon>security</mat-icon>
                            </div>
                            <div class="lt">
                                <div class="title">
                                    Safety First
                                </div>
                                    We ensure the safety of students in school on high priority.                              
                            </div>
                        </row>
                    </div>
                    <div fxFlex class="offer-item">
                        <row gap="10px">
                            <div class="offer-icon">
                                <mat-icon>watch_later</mat-icon>
                            </div>
                            <div class="lt">
                                <div class="title">
                                    Regular Classes
                                </div>
                                    Our teachers are very punctual and they take their classes regularly.                          
                            </div>
                        </row>
                    </div>
                </responsive>
                <br><br>
                <responsive colGap="32px">
                    <div fxFlex class="offer-item">
                        <row gap="10px">
                            <div class="offer-icon">
                                <mat-icon>school</mat-icon>
                            </div>
                            <div class="lt">
                                <div class="title">
                                    Certified Teachers
                                </div>
                                    Our Teachers are well trained and they convert study burden into fun.                              
                            </div>
                        </row>
                    </div>
                    <div fxFlex class="offer-item">
                        <row gap="10px">
                            <div class="offer-icon">
                                <mat-icon>meeting_room</mat-icon>
                            </div>
                            <div class="lt">
                                <div class="title">
                                    Sufficient Classrooms
                                </div>
                                    We have separate classroom for each class and section, so that students can concentrate on their subjects.                              
                            </div>
                        </row>
                    </div>
                </responsive>
                <br><br>
                <responsive colGap="32px">
                    <div fxFlex class="offer-item">
                        <row gap="10px">
                            <div class="offer-icon">
                                <mat-icon>local_library</mat-icon>
                            </div>
                            <div class="lt">
                                <div class="title">
                                    Creative Lessons
                                </div>
                                    We teach the students out of the box and make them creative through our regular events.                              
                            </div>
                        </row>
                    </div>
                    <div fxFlex class="offer-item">
                        <row gap="10px">
                            <div class="offer-icon">
                                <mat-icon>sports_kabaddi</mat-icon>
                            </div>
                            <div class="lt">
                                <div class="title">
                                    Sports Facilities
                                </div>
                                    We keep our students healty and fit through our sports activities.                              
                            </div>
                        </row>
                    </div>
                </responsive>
            </div>
            <div class="fill-space"></div>
        </responsive>
    </div>
</div>