<fancy-box theme="theme1" icon="emoji_objects">
    <div title>
        Our Vision
    </div>
    <div content>
        <responsive>
            <div fxFlex>
                <img style="width: 350px; height: 200px;" src="assets/images/vision.jpg">
            </div>
            <div fxFlex>
                <p class="cursive justify">
                    A Journey from ordinary to extra- ordinary, we have vision to see their potential and faith to
                    believe that they can and then courage to act with conviction to become "TOTAL QUALITY PERSONS"
                </p>
            </div>
        </responsive>
        <br><br><br>
    </div>
</fancy-box>