<fancy-box  theme="theme3" icon="device_hub">
    <div title>
        Admission process
    </div>
    <div simpleContent>
        <ol class="gap justify">
            <li>
                The school is open to all boys and girls, irrespective of the caste, creed or social status subject, of
                course, to the availability of seats.
            </li>
            <li>
                After registration the child will have to face interview of a general kind. The date of test can be
                ascertained from the school.
            </li>
            <li>
                A pupil coming from a recognized school must produce the school leaving certificate/ T.C. duly counter
                signed by the concerned authority. At the time of the seeking admission. Municipal birth certificate or a
                certificate from hospital duly signed by C.M.O. is essential for others who are seeking in Nursery and K.G.
                classes.
            </li>
            <li>
                A child selected for admission must pay the fees within three days, of the notification to the parents. If
                dues are not paid within three days, the admission is automatically cancelled.
            </li>
            <li>
                The admission of a child to the school will mean a complete acceptance by the parent/ guardian of all rules
                as are enforced or as they are amended from time to time.
            </li>
            <li>
                The Principal reserves the right to refuse admission to a child without furnishing any reason.
            </li>
        </ol>
        <br><br><br><br><br>
    </div>
</fancy-box>