<mat-form-field fxFlex [formGroup]="group" [appearance]="masterData.outlineFields ? 'outline' : 'standard'">
    <mat-label>{{field.label}}<span class="requiredAsterisk" *ngIf="validators?.required">*</span></mat-label>
    
    <mat-icon matSuffix>watch_later</mat-icon>
    <input type="time" matInput [formControlName]="field.name">  
  
    <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
      <mat-error *ngIf="masterData.showErrorMessages && group.get(field.name).hasError(validation.name)">
        <error-message [validation]="validation" [lable]="field.label" ></error-message>
      </mat-error>
    </ng-container>
  </mat-form-field>