<fancy-box theme="theme2" icon="school">
    <div title>
        Our Mission
    </div>
    <div content>        
        <responsive>     
            <div fxFlex>
                <p class="cursive bold line-height justify">
                    Each individual at Demo School Branch shall seek the highest
                    in all areas of Endeavour and try to become an
                    ever improving Total Quality Person (TQP).
                </p>
            </div>       
            <div fxFlex>
                    <img style="width: 350px; height: 200px;" src="assets/images/mission.jpg">
            </div>
        </responsive> 
    </div>
</fancy-box>