.main-div{  
    margin: 12px 2px 12px 2px;
}

.box{
    border-width: 0px;
    background-color: var(--main-color);
    color: white;
    border-style: solid;    
    border-color: var(--main-color);
    border-radius: 10px;
    transition-duration: 0.5s;
}

.box-icon{
    font-size: 50px;
}

.box-title{
    font-size: 12px;
    font-weight: bold;
}

.value{
    font-size: 22px;
    font-weight: bold;
}

.pinned-box{
    color: black !important;
    background-color: white !important;
    border-width: 2px !important;    
    border-style: dashed;
    opacity: 1 !important;
    -webkit-box-shadow: 6px 8px 6px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 6px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 8px 6px -6px rgba(0,0,0,0.75);   
}

.pinned-box .box-icon{
    font-weight: bold;
    color: var(--main-color);
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

.pinned-box .title{
    font-size: 14px; 
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.pinned-box .value{
    color: var(--main-color);
    font-size: 24px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.card-fullscreen {
	z-index: 900 !important;
	position: fixed !important;
	top: 55px !important;
	bottom: 0 !important;
	left: 0 !important;
  right: 0 !important;
  margin: 0%;
}

.box-content{
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    color: #333;
    margin: 0px -14px -14px -14px !important;
    padding: 0px 10px 10px 10px !important;
}
