<responsive colGap="50px">
    <div fxFlex="30">
        <button type="button" *ngIf="showListPage && editPermissions" (click)="addNewClick()" mat-raised-button
            class="btn" matTooltipShowDelay="100" matTooltipHideDelay="100">
            <mat-icon>commute</mat-icon> Add New Vehicle
        </button>
    </div>
    <div fxFlex>
        <card-bottom [form]="searchForm" #searchCard [hidden]="!showListPage" [title]="'Search Vehicle'">
            <card [header]="false">
                <form [formGroup]="searchForm" (ngSubmit)="onSearchClick()">
                    <dynamic-form [form]="searchForm" [fields]="searchConfig"></dynamic-form>
                    <form-buttons [form]="searchForm" [isSearchForm]="true" (onReset)="onSearchClick()"></form-buttons>
                </form>
            </card>
        </card-bottom>
    </div>
</responsive>

<responsive>
    <div>
        <button type="button" *ngIf="showAddChangePage || showViewPage" (click)="backToListClick()" class="btn"
            mat-raised-button appToolTip="'Go back to Vehicle List'" matTooltipShowDelay="100"
            matTooltipHideDelay="100">
            <mat-icon>keyboard_return</mat-icon> Back to Vehicle List
        </button>
    </div>
</responsive>
<br><br>

<app-new-vehicle *ngIf="showAddChangePage || showViewPage" [changeModeId]="Id" [isViewMode]="showViewPage"
    (onSaveSuccess)="onSaveSuccess($event)"></app-new-vehicle>
<app-vehicle-list [hidden]="!showListPage" (viewButtonEvent)="viewButtonEvent($event)"
    (editButtonEvent)="editButtonEvent($event)" (deleteButtonEvent)="deleteButtonEvent($event)"></app-vehicle-list>

<p>
    <button type="button" *ngIf="showDeleteButton && showViewPage" mat-raised-button class="delete-button padding"
        type="button" (click)="deleteVehiclePermanently()">
        <mat-icon>delete_forever</mat-icon> Delete And Save
    </button>
</p>