<fancy-box icon="people" theme="theme2">
    <div title>
        What Guardian Says About Us
    </div>
    <div content>
        <ul class="gap justify">
            <li>
                'My child is very happy, the teaching staff are very good at nurturing and developing the children's academic skills as well as social interaction and productive play.'
            </li>
            <li>
                'My child has had some ups and downs in year, but his teacher and the school have helped.'
            </li>
            <li>
                'I am really happy with the progress my child is making at this school, all of his teachers have been lovely and always there to help.'
            </li>
            <li>
                'Very good school, you have helped my child so much with her speech.'
            </li>
            <li>
                'I am happy that my child is happy in school.'
            </li>
            <li>
                'All staff at this school are really helpful and I feel that my child is receiving everything he needs at this school and his teachers have been great at keeping us updated with his school life.'
            </li>
            <li>
                'My child likes this school. All teachers are polite and friendly.'
            </li>
            <li>
                'I couldn't think of a better school for my children to be in.'
            </li>
            <li>
                'My child has improved so much since starting in Reception. She has loads of confidence and is always happy to come to school.'
            </li>
            <li>
                'My child is very happy at this school and they love how they do not get bullied.'
            </li>
        </ul>
        <br><br>
    </div>
</fancy-box>