
  .rating1{
    color: red;
  }
  .rating2{
    color: maroon;
  }
  .rating3{
    color: blue;
  }
  .rating4{
    color: rgb(20, 219, 20);
  }
  
  .rating5{
    font-weight: bold;
    color: gold;
  }  