<fancy-box theme="theme4" icon="record_voice_over">
    <div title>
        Principal Speaks
    </div>
    <div simpleContent>
        <div class="line-height justify">
            The destiny of man is shaped in a school. To prepare the leaders of tomorrow to face the challenges of
            the 21st
            Century, we are preparing children for a world outside the classroom- a world that is constantly
            changing
            andchallenging. For this, apart from a dedicated team of teachers, we have provided excellent
            infrastructure
            with state-of-theart labs, spacious playground and a very efficient transport system. All our efforts
            are
            directed towards the all round development of personality of each child. We always believe that
            selecting a
            school for a child is of prime importance. For, in doing so parents are taking a decision about their
            child's
            future and the kind of person they would expect the child to become. A decision on behalf of the child
            who
            trusts them. I am sure you will never regret choosing Demo School Branch as the dream school of your Child.
        </div>
    </div>
</fancy-box>