<fancy-box  theme="theme1" icon="gavel">
    <div title>
        General school rules
    </div>
    <div simpleContent>
        <ol class="gap justify">
            <li>
                Every student must carry his/ her Almanac (Diary) to school everyday and use it productively.
            </li>
            <li>
                Students should move from one classroom to another classroom between periods without wasting time, in an
                orderly and quite manner.
            </li>
            <li>
                Students should be habitually clean and always neatly dressed.
            </li>
            <li>
                Non- Sikh boys should get their hair cut at regular intervals and ensure that it remains combed and tidy.
            </li>
            <li>
                No shouting or whistling is allowed in or around the school building. Running in corridors is strictly
                prohibited.
            </li>
            <li>
                It is strictly forbidden to throw any waste and wrappers here and there.
            </li>
            <li>
                Bullying and the use of foul language are punishable offences, whether in or out of school.
            </li>
            <li>
                Care must be taken of all school property and no student should scratch or spoil the desks or chairs, or
                damage any school furniture, or write or draw anything on the walls.
            </li>
            <li>
                The cost of any willful damage done will be made good by the concerned student, who will also be liable to
                pay a fine for any such offence. Anyone who notices something damaged should kindly report the same to a
                teacher, even if he or she does not know who has done it.
            </li>
            <li>
                No irrelevant book (other then books or library books), magazines or other publication may be brought to the
                School without the class-teacher’s explicit permission.
            </li>
            <li>
                Lending or borrowing of money or other articles is not permitted.
            </li>
            <li>
                Mobile phones, Audio and Video CDs, DVDs, Computer Games, are strictly banned in the School premises,
                Bringing of these articles to the school will lead to suspension/rustication from the School.
            </li>
            <li>
                The school will not be responsible for the articles lost.
            </li>
            <li>
                Students are not allowed to leave the School premises during the School hours without permission.
            </li>
        </ol>
        <br><br><br><br><br>
    </div>
</fancy-box>